MONGO_URI=mongodb://localhost:27017
PROVIDER_DB_NAME=insureflow_provider

JWT_SECRET_KEY=replace_with_jwt_secret
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24
OTP_SECRET_KEY=replace_with_otp_secret
SHOW_PLAIN_OTP_IN_LOGS=false

EMAIL_ADDRESS=your_email@example.com
AAP_PASSWORD=replace_with_email_app_password
ACCESS_TOKEN_EXPIRE_MINUTES=60
API_KEY_HASH_SECRET=replace_with_api_key_hash_secret
