MONGO_URI=mongodb://localhost:27017
MAIN_DB_NAME=insureflow_main
PROVIDER_BACKEND_URL=http://localhost:8001
INSUREFLOW_API_KEY=replace_with_provider_api_key

JWT_SECRET_KEY=replace_with_jwt_secret
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24
OTP_SECRET_KEY=replace_with_otp_secret
SHOW_PLAIN_OTP_IN_LOGS=false

EMAIL_ADDRESS=your_email@example.com
AAP_PASSWORD=replace_with_email_app_password

TWILIO_ACCOUNT_SID=replace_with_twilio_account_sid
TWILIO_AUTH_TOKEN=replace_with_twilio_auth_token
TWILIO_PHONE_NUMBER=+10000000000
TWILIO_TEST_TO_NUMBER=+10000000000
TWILIO_SAY_VOICE=alice
TWILIO_SAY_LANGUAGE=en-IN
TWILIO_GATHER_LANGUAGE=en-IN
MAIN_BACKEND_PUBLIC_URL=http://localhost:8000
